body {
    /*background-image: url("watermark.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 500px 400px;
}


::-webkit-input-placeholder{
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
   
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */ 
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}


.form-control {
    height: 30px;
}
.form-control{
    width: 100%;  
    height: 40px;
    padding: 3px;
    
 }

 .btn {
    width: 100%;  
    height: 50px;
}

.input_btn {
    width: 100%;  
    height: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    text-align: center;
    height: 200px;
  }

.grid-title {
    grid-column-start: 1;
    grid-column-end: 4;
  }
.grid-item {
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
 }

 
.table-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
}

.table-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;   
}
.table-item {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;   
}

.login-container {
    display: grid;
    grid-template-columns: 49% 2% 49%; 
    border: 0px solid rgba(0, 0, 0, 0.8);
}
.login-item {
    text-align: center;   
    border: 0px solid rgba(0, 0, 0, 0.8);
}

.login-register {
    border: 0px solid rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;   
}
.login-err {
    border: 0px solid rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;   
    font-size: 12px;
}
.login-psw {
    border: 0px solid rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 20px;   
}

.covid19_title {
    border:0px dashed black;
    width: 100%;
    float: left;
    line-height: 120px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(173, 185, 202);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 120px;
    
}

.text {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
} 


.menu {
    border:0px solid green;
    width: 20%;
    float: left;
    text-align: center;
    background-color: rgb(173, 185, 202);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.column_100 {
    border:0px solid brown;
    width: 100%;
    float: left;
    text-align: center;

}
.content_main {
    border:0px solid blue;
    width: 60%;
    float: left;
    text-align: center;
    padding:5px;
}


.column_50 {
    border:0px dotted brown;
    float: left;
    width: 45%;
    text-align: center;
}

.column_33 {
    border:0px dotted brown;
    border:0px solid black;
    float: left;
    width: 33%;
    text-align: center;

}

.column_34 {
    border:0px solid yellow;
    float: left;
    width: 34%;
    text-align: center;

}

.row:after {
    content: "";
    line-height: 20%;
    text-align: center;
}
.side_menu {
    height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 60px;
    text-decoration: none;

    background-color: rgb(173, 185, 202);
}
.side_menu a {
    color: #FFFFFF;
    text-decoration: none;
}
.side_menu:hover{
    background: rgb(132, 151, 176);
}
.side_menu:active{ 
    background: rgb(132, 151, 176);
  }
.button_50 {
    width: 50%;
    text-align: center;
}

.button_100 {
    width: 100%;
    text-align: center;

}
.menu_name {
    border:0px dashed rgb(161, 82, 207);  
    font-size: 20;
    font-family: Arial;
    font-weight: bold;
    color: red;
}


  /* visited link */
  a:visited {
    color: black;
    text-decoration-line: none;
  }
  

  
  /* mouse over link */
  a:hover {
    background: rgb(132, 151, 176);
  }
  
  /* selected link */
  a:active{ 
    background: rgb(132, 151, 176);
  }


 